<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="/css-files/home.css">

</head>
<body>
<div class="login">
    <div>
        <img class="logo" src="./BBL-logo.png" alt="">
    </div>
    <h2 class="active">sign in</h2>

    <form action="/login" method="post">

        <input placeholder="USERNAME" type="text" class="text" name="username">
        <br>
        <input placeholder="PASSWORD" type="password" class="text" name="passcode">
        <br>
        <button class="signin" type="submit">
            Sign In
        </button>
    </form>
</div>
</body>
</html>